<span class="cs-placeholder" onclick={{action 'toggleSelect'}}>
  {{#if selectedItem}}
    {{selectedItem.text}}
  {{else}}
    {{placeholder}}
  {{/if}}
</span>
<div class="cs-options">
  <ul>
    {{#each children as |child|}}
      <li onclick={{action 'onChange' child}} class="{{child.class}}">
        <span>{{child.text}}</span>
      </li>
      {{/each}}
  </ul>
</div>
<select>
  {{yield}}
</select>
