<div class="container">
	<!-- Top Navigation -->
	<div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="http://github.com/rajasegar/ember-custom-select/"><span>Github</span></a>
		<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19400"><span>Codrops Article</span></a></span>
	</div>
	<header class="codrops-header">
		<h1>ember-custom-select</h1>	
		<nav class="codrops-demos">
      {{#link-to 'index'}}Border{{/link-to}}
			<a  onclick={{action 'toggleStyle' 'underline'}}>Underline</a>
			<a  onclick={{action 'toggleStyle' 'elastic'}}>Elastic</a>
			<a  onclick={{action 'toggleStyle' 'slide'}}>Slide</a>
			<a  onclick={{action 'toggleStyle' 'overlay'}}>Overlay</a>
			<a  onclick={{action 'toggleStyle' 'rotate'}}>Rotate</a>
      {{#link-to 'box-select'}}Box Select{{/link-to}}
			<a  onclick={{action 'toggleStyle' 'circular'}}>Circular</a>
		</nav>
	</header>
{{outlet}}
	<!-- Related demos -->
	<section class="related">
		<p>If you enjoyed this demo you might also like:</p>
		<a href="http://tympanus.net/Development/ResponsiveMultiLevelMenu/">
			<img src="https://tympanus.net/codrops/wp-content/uploads/2013/04/MultiLevelMenu-300x162.jpg" />
			<h3>Multi-Level Menu</h3>
		</a>
		<a href="http://tympanus.net/Development/SimpleDropDownEffects/">
			<img src="https://tympanus.net/codrops/wp-content/uploads/2012/11/SimpleDropDownEffects-300x162.jpg" />
			<h3>Drop-Down List Effects</h3>
		</a>
	</section>
</div><!-- /container -->
